# Ignore all data files and subdirectories
/data/

# Ignore Python cache files
__pycache__/
*.pyc

# Optionally ignore VSCode and macOS system files
.vscode/
.DS_Store

*.db

/anthrotrace.egg-info/*

/venv/*
anthrotrace.egg-info/